<div class="container">
  <h1>表紙トップページ</h1>
  <% if user_signed_in? %>
    <%= link_to "マイページへ", user_path(current_user.id) %>
  <% else %>
    <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
    <%= link_to "ログイン", new_user_session_path, class: 'post' %>
    <%= link_to 'ゲストログイン(施設側)', users_guest_sign_in_path, method: :post %>
    <%= link_to '管理者ゲストログイン', users_admin_guest_sign_in_path, method: :post %>
  <% end %>
</div>
