  <h1><%= @care_user.name %>様の介護記録登録</h1>
  <%= form_with(model: @health, local:true) do |form| %>
    <% if @health.errors.any? %>
      <div id="error_explanation">
      <h2><%= @health.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @health.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

  <%= form.hidden_field :care_user_id, :value => @care_user.id %>

  <div class="ggg">
    <div>
      <%= form.label :responsibility, t('activerecord.attributes.health.responsibility') %>
      <%= form.text_field :responsibility, :placeholder => "入力必須" %>
    </div>

    <div>
      <%= form.label :record_in_at, t('activerecord.attributes.health.record_in_at') %>
      <%= form.date_field :record_in_at, value: Time.now.strftime("%Y-%m-%d") %>
    </div>

    <div>
      <%= form.label :time, t('activerecord.attributes.health.time') %>
      <%= form.time_field :time %>
    </div>

    <div>
      <%= form.label :body_temperature, t('activerecord.attributes.health.body_temperature') %>
      <%= form.number_field :body_temperature, :placeholder => "例) 36.5", step: '0.1' %>℃
    </div>

    <div>
      <%= form.label :blood_pressure_up, t('activerecord.attributes.health.blood_pressure_up') %>
      <%= form.number_field :blood_pressure_up, :placeholder => "例) 110" %>/<%= form.number_field :blood_pressure_down, :placeholder => "例) 70" %>
    </div>

    <div>
      <%= form.label :pulse, t('activerecord.attributes.health.pulse') %>
      <%= form.number_field :pulse, :placeholder => "例) 60" %>回/分
    </div>

    <div>
      <%= form.label :食事量 %>
      <%= Health.human_attribute_name(:breakfast) %>：<%= form.select :breakfast, [['ー', 'ー'], ['全量', '全量'], ['半量', '半量'], ['1/3', '1/3'], ['2/3', '2/3'], ['1/4', '1/4'], ['欠食', '欠食'], ['その他', 'その他']], { prompt: '選択してください' }, { id: "health_id" } %>
      <%= Health.human_attribute_name(:lunch) %>：<%= form.select :lunch, [['ー', 'ー'], ['全量', '全量'], ['半量', '半量'], ['1/3', '1/3'], ['2/3', '2/3'], ['1/4', '1/4'], ['欠食', '欠食'], ['その他', 'その他']], { prompt: '選択してください' }, { id: "health_id" } %>
      <%= Health.human_attribute_name(:snack) %>：<%= form.select :snack, [['ー', 'ー'], ['全量', '全量'], ['半量', '半量'], ['1/3', '1/3'], ['2/3', '2/3'], ['1/4', '1/4'], ['欠食', '欠食'], ['その他', 'その他']], { prompt: '選択してください' }, { id: "health_id" } %>
      <%= Health.human_attribute_name(:dinner) %>：<%= form.select :dinner, [['ー', 'ー'], ['全量', '全量'], ['半量', '半量'], ['1/3', '1/3'], ['2/3', '2/3'], ['1/4', '1/4'], ['欠食', '欠食'], ['その他', 'その他']], { prompt: '選択してください' }, { id: "health_id" } %>
      <%= Health.human_attribute_name(:before_sleep) %>：<%= form.select :before_sleep, [['ー', 'ー'], ['全量', '全量'], ['半量', '半量'], ['1/3', '1/3'], ['2/3', '2/3'], ['1/4', '1/4'], ['欠食', '欠食'], ['その他', 'その他']], { prompt: '選択してください' }, { id: "health_id" } %>
    </div>

    <div>
      <%= form.label :服薬 %>
      <%= Health.human_attribute_name(:morning_medicine) %>：<%= form.select :morning_medicine, [['ー', 'ー'], ['◯', '◯'], ['中止', '中止'], ['その他', 'その他']], { prompt: '選択してください' }, { id: "health_id" } %>
      <%= Health.human_attribute_name(:daytime_medicine) %>：<%= form.select :daytime_medicine, [['ー', 'ー'], ['◯', '◯'], ['中止', '中止'], ['その他', 'その他']], { prompt: '選択してください' }, { id: "health_id" } %>
      <%= Health.human_attribute_name(:snack_medicine) %>：<%= form.select :snack_medicine, [['ー', 'ー'], ['◯', '◯'], ['中止', '中止'], ['その他', 'その他']], { prompt: '選択してください' }, { id: "health_id" } %>
      <%= Health.human_attribute_name(:evening_medicine) %>：<%= form.select :evening_medicine, [['ー', 'ー'], ['◯', '◯'], ['中止', '中止'], ['その他', 'その他']], { prompt: '選択してください' }, { id: "health_id" } %>
      <%= Health.human_attribute_name(:sleep_medicine) %>：<%= form.select :sleep_medicine, [['ー', 'ー'], ['◯', '◯'], ['中止', '中止'], ['その他', 'その他']], { prompt: '選択してください' }, { id: "health_id" } %>
    </div>

    <div>
      <%= form.label :bath_time, t('activerecord.attributes.health.bath_time') %>
      <%= form.time_field :bath_time %>
    </div>

    <div>
      <%= form.label :bath_division, t('activerecord.attributes.health.bath_division') %>
      <%= form.select :bath_division, [['ー', 'ー'], ['全身浴', '全身浴'], ['シャワー浴', 'シャワー浴'], ['足浴', '足浴'], ['機械浴', '機械浴'], ['その他', 'その他']], { prompt: '選択してください' }, { id: "health_id" } %>
    </div>

    <div>
      <%= form.label :caregiver, t('activerecord.attributes.health.caregiver') %>
      <%= form.text_field :caregiver %>
    </div>

    <div>
      <%= form.label :height, t('activerecord.attributes.health.height') %>
      <%= form.number_field :height, step: '0.1', :placeholder => "例) 160.5" %>cm
    </div>

    <div>
      <%= form.label :body_weight, t('activerecord.attributes.health.body_weight') %>
      <%= form.number_field :body_weight, step: '0.1', :placeholder => "例) 50" %>kg
    </div>

    <div>
      <%= form.label :daytime, t('activerecord.attributes.health.daytime') %>
      <%= form.text_area :daytime %>
      <%= form.label :daytime_staff, t('activerecord.attributes.health.daytime_staff') %>
      <%= form.text_field :daytime_staff %>
    </div>

    <div>
      <%= form.label :night, t('activerecord.attributes.health.night') %>
      <%= form.text_area :night %>
      <%= form.label :night_staff, t('activerecord.attributes.health.night_staff') %>
      <%= form.text_field :night_staff %>
    </div>

    <div>
      <%= form.label :transfer, t('activerecord.attributes.health.transfer') %>
      <%= form.text_area :transfer %>
    </div>

    <div>
      <%= form.label :contact, t('activerecord.attributes.health.contact') %>
      <%= form.text_area :contact, :placeholder => "ご家族へ共有されます" %>
      <%= form.label :contact_staff, t('activerecord.attributes.health.contact_staff') %>
      <%= form.text_field :contact_staff %>
    </div>

    <%= form.submit "登録" %>
  <% end %>
</div>
