<div class="">
  <h1><%= @care_user.name %>様の状態一覧</h1>
  <p class="alert alert-notice"><%= notice %></p>
  <div class="title_a">
    <%= link_to "戻る",care_users_path %>
    <% if current_user.owner_id != nil %>
      <%= link_to "新規作成",new_health_path(care_user_id: @care_user.id) %>
    <% end %>
  </div>
  <%# @care_users.each do |care_user| %>
    <%#= care_user.name %>

  <table class="table p-2 flex-shrink-1 bd-highlight">
    <thead>
      <tr>
        <th><%= Health.human_attribute_name(:record_in_at) %></th>
        <th><%= Health.human_attribute_name(:blood_pressure_up) %></th>
        <!-- <th>バイタル</th> -->
        <th><%= Health.human_attribute_name(:updated_at) %></th>
        <% if current_user.owner_id != nil %>
          <th><%= Health.human_attribute_name(:transfer) %></th>
        <% else %>
          <th><%= Health.human_attribute_name(:contact) %></th>
        <% end %>
        <th><%= Health.human_attribute_name(:responsibility) %></th>
      </tr>
    </thead>

    <tbody>
      <% @care_user.healths.each do |health| %>
        <tr>
          <td><%= health.record_in_at %></td>
          <td><%= health.blood_pressure_up %>/<%= health.blood_pressure_down %></td>
          <td><%= health.updated_at.strftime("%H:%M") %></td>
          <% if current_user.owner_id != nil %>
            <% if health.transfer == nil %>
              <td><%= health.transfer %></td>
            <% else %>
              <td><%= health.transfer.truncate(30) %></td>
            <% end %>
          <% else %>
            <% if health.transfer == nil %>
              <td><%= health.contact %></td>
            <% else %>
              <td><%= health.contact.truncate(30) %></td>
            <% end %>
          <% end %>
          <td><%= health.responsibility %></td>
          <td><%= link_to "詳細",health_path(health.id) %></td>
          <td>
            <% if current_user.owner_id != nil %>
              <%= link_to "編集",edit_health_path(health.id) %>
              <%= link_to "削除",health_path(health.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%# end %>