<div class="">
  <h1>介護記録 詳細画面</h1>

  <div class="form_c">
    <table class="table">
      <tr><th><%= Health.human_attribute_name(:record_in_at) %></th><td><%= @health.record_in_at&.strftime("%Y年 %m月 %d日") %></td></tr>
      <tr><th><%= Health.human_attribute_name(:responsibility) %></th><td><%= @health.responsibility %></td></tr>
      <tr><th><%= Health.human_attribute_name(:time) %></th><td><%= @health.time&.strftime("%H:%M") %></td></tr>
      <tr><th><%= Health.human_attribute_name(:body_temperature) %></th><td><%= @health.body_temperature %></td></tr>
      <tr><th><%= Health.human_attribute_name(:blood_pressure_up) %></th><td><%= @health.blood_pressure_up %>/<%= @health.blood_pressure_down %></td></tr>
      <tr><th><%= Health.human_attribute_name(:pulse) %></th><td><%= @health.pulse %>回/分</td></tr>
      <tr><th>食事量</th><td><%= Health.human_attribute_name(:breakfast) %>：<%= @health.breakfast %>　<%= Health.human_attribute_name(:lunch) %>：<%= @health.lunch %>　<%= Health.human_attribute_name(:snack) %>：<%= @health.snack %>　<%= Health.human_attribute_name(:dinner) %>：<%= @health.dinner %>　<%= Health.human_attribute_name(:before_sleep) %>：<%= @health.before_sleep %></td></tr>
      <tr><th>服薬</th><td><%= Health.human_attribute_name(:morning_medicine) %>：<%= @health.morning_medicine %>　<%= Health.human_attribute_name(:daytime_medicine) %>：<%= @health.daytime_medicine %>　<%= Health.human_attribute_name(:snack_medicine) %>：<%= @health.snack_medicine %>　<%= Health.human_attribute_name(:evening_medicine) %>：<%= @health.evening_medicine %>　<%= Health.human_attribute_name(:sleep_medicine) %>：<%= @health.sleep_medicine %></td></tr>
      <tr><th><%= Health.human_attribute_name(:bath_time) %></th><td><%= @health.bath_time&.strftime("%H:%M") %></td></tr>
      <tr><th><%= Health.human_attribute_name(:bath_division) %></th><td><%= @health.bath_division %></td></tr>
      <tr><th><%= Health.human_attribute_name(:caregiver) %></th><td><%= @health.caregiver %></td></tr>
      <tr><th><%= Health.human_attribute_name(:height) %></th><td><%= @health.height %>cm</td></tr>
      <tr><th><%= Health.human_attribute_name(:body_weight) %></th><td><%= @health.body_weight %>kg</td></tr>
      <tr><th><%= Health.human_attribute_name(:daytime) %></th><td><%= @health.daytime %></td>　<th><%= Health.human_attribute_name(:daytime_staff) %></th><td><%= @health.daytime_staff %></td></tr>
      <tr><th><%= Health.human_attribute_name(:night) %></th><td><%= @health.night %></td>　<th><%= Health.human_attribute_name(:night_staff) %></th><td><%= @health.night_staff %></td></tr>
      <% if current_user.owner_id != nil %>
        <tr><th><%= Health.human_attribute_name(:transfer) %></th><td><%= @health.transfer %></td></tr>
      <% end %>
      <tr><th><%= Health.human_attribute_name(:contact) %></th><td><%= @health.contact %></td></tr>
    </table>

    <%= link_to "戻る",healths_path(care_user_id: @health.care_user.id) %>
    <% if current_user.owner_id != nil %>
      <%= link_to "編集",edit_health_path(@health.id) %>
      <%= link_to "削除",health_path(@health.id), method: :delete %>
    <% end %>
  </div>
</div>




