<p id="notice"><%= notice %></p>

<div class="toppage">
<h1 class="top">カレンダー</h1>
<br>

<div class="row">
<div class="col-md-4">
	<!-- <div class="schedule">今後の予定一覧</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>タイトル</th>
      <th>日程</th>
    </tr>
  </thead>

  <tbody> -->
    <%# @reserves.each do |reserve| %>
      <!-- <tr> -->
        <td><%#= link_to reserve.title , reserve %></td>
        <td><%#= reserve.start_time.strftime("%m-%d") %></td>
      <!-- </tr> -->
    <%# end %>
  <!-- </tbody>
</table> -->



<%= form_with(model: @reserve, local: true) do |form| %>

  <%= form.hidden_field :user_id, :value => current_user.id %>

  <div class="title">
      <div class="form-tag">タイトル</div>
      <%= form.select :title, [["面会", "面会"], ["通院", "通院"], ["外食", "外食"], ["帰宅", "帰宅"], ["外泊", "外泊"], ["その他", "その他"]], include_blank: "選択して下さい" %>
  </div>

  <div class="content">
    <div class="form-tag">詳細</div>
    <%= form.text_area :content, :placeholder => "その他を選ばれた場合は必ず入力してください"  %>
  </div>

  <div class="time">
    <div class="form-tag">時間</div>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="submit">
      <%= form.submit %>
  </div>
  <% end %>
</div>

<br>

<%= link_to "戻る",user_path(current_user.id) %>

<br>

<div class="col-md-8">
<%= month_calendar events: @reserves do |date, reserves| %>
  <%= date.day %>

  <% reserves.each do |reserve| %>
    <div>
      <%= link_to reserve.title, reserve %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>