<div class="contaner">
  <div class="box_css">
    <h2><%= t('.title', resource: resource.model_name.human) %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field reg_ed reg_na">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field reg_ed">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>

      <div class="field reg_ed">
        <%= f.label :password %> <i><%#= t('.leave_blank_if_you_don_t_want_to_change_it') %></i>
        <%= f.password_field :password, autocomplete: "new-password", :placeholder => "半角英数字6文字以上" %>
        <% if @minimum_password_length %>
          <!-- <em><%#= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em> -->
        <% end %>
      </div>

      <div class="field reg_ed">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "半角英数字6文字以上" %>
      </div>

      <div class="field reg_ed">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "current-password", :placeholder => "半角英数字6文字以上" %><br>
        <i><%= t('.we_need_your_current_password_to_confirm_your_changes') %></i>
      </div>

      <div class="field reg_ed">
        <%= f.label :postcode, t('activerecord.attributes.user.postcode') %>
        <%= f.text_field :postcode, autocomplete: 'postcode', :placeholder => "例) 1234567" %>
      </div>

      <div class="field reg_ed">
        <%= f.label :prefecture_name, t('activerecord.attributes.user.prefecture_name') %>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' } %>
      </div>

      <div class="field reg_ed">
        <%= f.label :address_city, t('activerecord.attributes.user.address_city') %>
        <%= f.text_field :address_city, autocomplete: 'address_city', :placeholder => "市区町村を入力してください" %>
      </div>

      <div class="field reg_ed">
        <%= f.label :address_street, t('activerecord.attributes.user.address_street') %>
        <%= f.text_field :address_street, autocomplete: 'address_street', :placeholder => "番地を入力してください" %>
      </div>

      <div class="field reg_ed">
        <%= f.label :address_building, t('activerecord.attributes.user.address_building') %>
        <%= f.text_field :address_building, autocomplete: 'address_building', :placeholder => "建物名を入力してください" %>
      </div>

      <div class="field reg_ed">
        <%= f.label :phone_number, t('activerecord.attributes.user.phone_number') %>
        <%= f.text_field :phone_number, autocomplete: 'phone_number', :placeholder => "例) 090-1234-5678" %>
      </div>


      <div class="actions">
        <%= f.submit t('.update'), class: "reg_bt" %>
      </div>
    <% end %>

    <!-- <h3><%#= t('.cancel_my_account') %></h3> -->
    <!-- <p><%#= t('.unhappy') %> <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p> -->

  </div>
  <%#= link_to t('devise.shared.links.back'), :back %>
</div>

