<div class="container">
  <div class="box_css">
    <h2 class="sign_up"><%= t('.sign_up') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <div class="form_group">
          <%= f.label :name %>
        </div>
        <%= f.text_field :name, :placeholder => "例) 山田 太郎", class: "form" %>
      </div>

      <div class="field">
        <div class="form_group">
          <%= f.label :email %>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "例) taro@sample.com", class: "form_a" %>
      </div>

      <div class="field">
        <div class="form_group">
          <%= f.label :password %>
        </div>
        <!-- <%# if @minimum_password_length %>
        <em><%#= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <%# end %> -->
        <%= f.password_field :password, autocomplete: "new-password", :placeholder => "半角英数字6文字以上", class: "form_a" %>
      </div>

      <div class="field">
        <div class="form_group">
          <%= f.label :password_confirmation %>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "パスワードを再入力", class: "form_a" %>
      </div>

      <div class="field">
        <div class="form_group">
          <%= f.label :postcode, t('activerecord.attributes.user.postcode') %>
        </div>
        <%= f.text_field :postcode, autocomplete: 'postcode', :placeholder => "例) 1234567", class: "form_a" %>
        <!-- ハイフンは入れずに入力してください -->
      </div>

      <div class="field">
        <div class="form_group">
          <%= f.label :prefecture_name, t('activerecord.attributes.user.prefecture_name') %>
        </div>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: "form_a" %>
      </div>

      <div class="field">
        <div class="form_group">
          <%= f.label :address_city, t('activerecord.attributes.user.address_city') %>
        </div>
        <%= f.text_field :address_city, autocomplete: 'address_city', :placeholder => "例) 市区町村を入力してください", class: "form_a"%>
      </div>

      <div class="field">
        <div class="form_group">
          <%= f.label :address_street, t('activerecord.attributes.user.address_street') %>
        </div>
        <%= f.text_field :address_street, autocomplete: 'address_street', :placeholder => "例) 番地を入力してください", class: "form_a" %>
      </div>

      <div class="field">
        <div class="form_group">
          <%= f.label :address_building, t('activerecord.attributes.user.address_building') %>
        </div>
        <%= f.text_field :address_building, autocomplete: 'address_building', :placeholder => "例) 建物名を入力してください", class: "form_a" %>
      </div>

      <div class="field">
        <div class="form_group">
          <%= f.label :phone_number, t('activerecord.attributes.user.phone_number') %>
        </div>
        <%= f.telephone_field :phone_number, autocomplete: 'phone_number', :placeholder => "例) 090-1234-5678", class: "form_a" %>
      </div>

      <div class="actions">
        <%= f.submit t('.sign_up'), class: "btn btn-info" %>
      </div>
    <% end %>

  </div>
</div>
