<%= form_with(model: [health, @comment], local: false) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, :placeholder => "ご自由にご記入下さい。ご不明な点などございましたら施設から直接ご連絡差し上げます。" %>
  </div>

  <!-- <%# if @comment == nil %>
    <div class="field">
      <%#= form.label :content %>
      <%#= form.text_area :content, :placeholder => "ご自由にご記入下さい。ご不明な点などございましたら施設から直接ご連絡差し上げます。" %>
    </div>
  <%# else %>
    <p>コメントは1件までです</p>
  <%# end %> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>