<div class="container">
  <% if user_signed_in? %>
  <!-- <p class="alert alert-notice"><%#= notice %></p> -->
  <% if current_user.owner_id != nil %>
    <h4><%= current_user.name %>ログイン</h4>
  <% else %>
  <h2> ようこそ、 <%= current_user.name %> さん！ </h2>
  <% end %>
    <p> メールアドレス： <%= current_user.email %> </p>
    <%= link_to "プロフィール編集", edit_user_registration_path, class: "" %>
    <!-- <h4> 郵便番号： <%#= current_user.postcode %> </h4>
    <h4> 住所： <%#= current_user.prefecture_name %><%= current_user.address_city %><%= current_user.address_street %> <%= current_user.address_building %> </h4>
    <h4> 電話番号： <%#= current_user.phone_number %> </h4> -->
    <br>
    <div class="menu">
      <h3>メニュー</h3>
      <% if current_user.owner_id != nil %>
        <%= link_to care_users_path(@care_users), class: "btn btn--orange btn-a" do %>
          利用者一覧<p class="txt">介護記録もこちらからアクセスできます</p>
        <% end %>
      <% else %>
        <%= link_to new_care_user_path, class: "btn btn--orange btn-a" do %>
          ご家族登録<p class="txt">複数のご家族を登録することができます</p>
        <% end %>
        <%= link_to care_users_path(@care_users), class: "btn btn--orange" do %>
          ご家族一覧<p class="txt">介護記録を見たい方もこちら</p>
        <% end %>
        <%= link_to reserves_path, class: "btn btn--orange btn-a" do %>
          カレンダー<p class="txt">面会や通院、外食などの予定を施設に知らせることができます</p>
        <% end %>
      <% end %>
      <% if current_user.owner_id != nil %>
        <%= link_to reserves_path, class: "btn btn--orange btn-a" do %>
          カレンダー<p class="txt">ご家族が登録された面会などの予定を確認することができます</p>
        <% end %>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to rails_admin_path, class: "btn btn--orange btn-a" do %>
          管理者画面<p class="txt">管理画面にアクセスすることができます</p>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h2> 現在ログインしていません </h2>
  <% end %>
</div>