<div class="container">
  <%= form_with(model: @care_user, local:true) do |form| %>
    <% if @care_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @care_user.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @care_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <% if current_user.owner_id != nil %>
      <%= form.hidden_field :user_id, :value => @care_user.user_id %>
    <% else %>
      <%= form.hidden_field :user_id, :value => current_user.id %>
    <% end %>

    <div>
      <div class="form_team">
        <%= form.label :name, t('activerecord.attributes.care_user.name') %>
      </div>
      <%= form.text_field :name, :placeholder => "例) 山田 太郎" %>
    </div>

    <div>
      <div class="form_team">
        <%= form.label :birthday, t('activerecord.attributes.care_user.birthday') %>
      </div>
      <%= raw sprintf(
        form.date_select(
          :birthday,
          use_month_numbers: true,
          start_year: 1900,
          end_year: (Time.now.year),
          default: Date.new(1989, 1, 1),
          date_separator: '%s'),
        '年 ', '月 ') + '日' %>
    </div>

    <!-- <div>
      <div class="form_team">
        <%#= form.label :age, t('activerecord.attributes.care_user.age') %>
      </div>
      <%#= form.number_field :age, :placeholder => "例) 60" %>
    </div> -->

    <div>
      <%= form.label :sex, t('activerecord.attributes.care_user.sex') %>
      <%= form.select :sex, [["男","男"],["女","女"]] %>
    </div>

    <div>
      <%= form.label :food, t('activerecord.attributes.care_user.food') %>
      <%= form.text_area :food, :placeholder => "お食事の傾向(お好みの食べ物や好まれない物など)" %>
    </div>

    <div>
      <%= form.label :allergy, t('activerecord.attributes.care_user.allergy') %>
      <%= form.text_area :allergy, :placeholder => "アレルギーをお持ちでしたら必ず記入して下さい" %>
    </div>

    <div>
      <%= form.label :sick, t('activerecord.attributes.care_user.sick') %>
      <%= form.text_area :sick, :placeholder => "持病や既往歴、飲まれているお薬について記入して下さい" %>
    </div>

    <div>
      <%= form.label :note, t('activerecord.attributes.care_user.note') %>
      <%= form.text_area :note, :placeholder => "ご心配なことなどあればこちらにご記入下さい" %>
    </div>

    <% if current_user.owner_id != nil %>
      <div>
        <%= form.label :availability, t('activerecord.attributes.care_user.availability') %>
        <%= form.label :あり %>
        <%= form.radio_button :availability, :あり %>
        <%= form.label :なし  %>
        <%= form.radio_button :availability, :なし %>
      </div>

      <div>
        <%= form.label :division, t('activerecord.attributes.care_user.division') %>
        <!-- <%#= form.select :division, options_for_select(CareUser.divisions), {prompt: '選択してください'} %> -->
        <%= form.select :division, [["L宿泊", "L宿泊"], ["S宿泊", "S宿泊"], ["通所", "通所"], ["訪問", "訪問"], ["その他", "その他"]], { include_blank: true, prompt: '選択してください' } %>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :image, t('activerecord.attributes.care_user.image') %>
      <%= form.file_field :image %>
      <%= form.hidden_field :image_cache %>
    </div>

    <%= form.submit "登録" %>
    <%= link_to "戻る",care_users_path %>

  <% end %>
</div>