<div class="">
  <% if current_user.owner_id != nil %>
    <h1>利用者一覧</h1>
  <% else %>
    <h1>ご家族一覧</h1>
  <% end %>

  <div class="back">
    <%= link_to "戻る",user_path(current_user.id) %>
  </div><br>

  <% if current_user.owner_id != nil %>
    <%= form_with(scope: :search, url:care_users_path, local:true, method: :get) do |form| %>
      <%= form.label :name, '名前' %>
      <%= form.text_field :name %>
      <%= form.label :sex, '性別' %>
      <%= form.select :sex, options_for_select(CareUser.sexes), {prompt: '選択してください'} %>
      <%= form.label :availability, '現在の利用' %>
      <%= form.select :availability, options_for_select(CareUser.availabilities), {prompt: '選択してください'} %>
      <%= form.label :division, '区分' %>
      <%= form.select :division, [["L宿泊", "L宿泊"], ["S宿泊", "S宿泊"], ["通所", "通所"], ["訪問", "訪問"], ["その他", "その他"]], { prompt: '選択してください' } %>
      <%= form.submit "検索"%>
    <% end %>

    <!-- <%#= link_to "新規作成",new_care_user_path %> 入居者の登録は家族にしてもらうため表示させない(care_userに利用者家族のuser_idを渡せないため) -->
  <% end %>

  <div class="category">
    <table class="table p-2 flex-shrink-1 bd-highlight">
      <thead>
        <tr>
          <th><%= CareUser.human_attribute_name(:name) %></th>
          <th><%= CareUser.human_attribute_name(:birthday) %></th>
          <!-- <th><%#= CareUser.human_attribute_name(:age) %></th> -->
          <th><%= CareUser.human_attribute_name(:sex) %></th>
          <th><%= CareUser.human_attribute_name(:food) %></th>
          <th><%= CareUser.human_attribute_name(:allergy) %></th>
          <th><%= CareUser.human_attribute_name(:sick) %></th>
          <!-- <th><%#= CareUser.human_attribute_name(:note) %></th> 一覧には表示させない -->
          <% if current_user.owner_id != nil %>
            <th><%= CareUser.human_attribute_name(:availability) %></th>
            <th><%= CareUser.human_attribute_name(:division) %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @care_users.each do |care_user| %>
          <tr>
            <td><%= care_user.name %></td>
            <td><%= care_user.birthday.strftime("%Y年 %m月 %d日") %></td>
            <!-- <td><%#= care_user.age %>歳</td> -->
            <td><%= care_user.sex %></td>

            <% if care_user.food == nil %>
              <td><%= care_user.food %></td>
            <% else %>
              <% if current_user.owner_id != nil %>
                <td><%= care_user.food.truncate(7) %></td>
              <% else %>
                <td><%= care_user.food.truncate(10) %></td>
              <% end %>
            <% end %>

            <% if care_user.allergy == nil %>
              <td><%= care_user.allergy %></td>
            <% else %>
              <% if current_user.owner_id != nil %>
                <td><%= care_user.allergy.truncate(7) %></td>
              <% else %>
                <td><%= care_user.allergy.truncate(10) %></td>
              <% end %>
            <% end %>

            <% if care_user.sick == nil %>
              <td><%= care_user.sick %></td>
            <% else %>
              <% if current_user.owner_id != nil %>
                <td><%= care_user.sick.truncate(7) %></td>
              <% else %>
              <td><%= care_user.sick.truncate(10) %></td>
              <% end %>
            <% end %>

            <!-- <td><%#= care_user.note %></td> -->
            <% if current_user.owner_id != nil %>
              <td><%= care_user.availability %></td>
              <td><%= care_user.division %></td>
            <% end %>

            <td><%= link_to "詳細",care_user_path(care_user.id) %></td>
            <td><%= link_to "編集",edit_care_user_path(care_user.id) %></td>
            <td>
                <% if current_user.owner_id != nil %>
                <%= link_to "削除",care_user_path(care_user.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>
              <% end %>
            </td>
            <td><%= link_to "介護記録一覧",healths_path(care_user_id: care_user.id) %></td>
            <td>
              <% if current_user.owner_id != nil %>
                <%= link_to "介護記録登録",new_health_path(care_user_id: care_user.id) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>