<h1>利用者　詳細画面</h1>

<p>
  <strong>名前</strong>
  <%= @care_user.name %>
</p>
<p>
  <strong>生年月日</strong>
  <%= @care_user.birthday.strftime("%Y年 %m月 %d日") %>
</p>
<p>
  <strong>年齢</strong>
  <%= @care_user.age %>歳
</p>
<p>
  <strong>性別</strong>
  <%= @care_user.sex %>
</p>
<% if current_user.admin? %>
  <p>
    <strong>現在の利用</strong>
    <%= @care_user.availability %>
  </p>
  <p>
    <strong>区分</strong>
    <%= @care_user.division %>
  </p>
<% end %>

<p>
  <strong>プロフィール画像:</strong>
  <% if @care_user.image? %>
    <%= image_tag @care_user.image.url, size: "150x150" %>
  <% else %>
    <%= image_tag 'user.icon.png', size: "150x130" %>
  <% end %>
</p>


<%= link_to "戻る",care_users_path %>
<%= link_to "編集",edit_care_user_path(@care_user.id) %>