<div class="">
  <h1>利用者　詳細画面</h1>

  <p>
    <strong></strong>
    <% if @care_user.image? %>
      <%= image_tag @care_user.image.url, size: "150x150" %>
    <% else %>
      <%#= image_tag 'user.icon.png', size: "150x130" %>
      <%= image_tag asset_path("user.icon.png"), size: "150x150" %>
    <% end %>
  </p>

  <p>
    <div class="hhh">
      <strong class="title"><%= CareUser.human_attribute_name(:name) %></strong>
    </div>
    <%= @care_user.name %>
  </p>

  <p>
    <div class="hhh">
      <strong class="title"><%= CareUser.human_attribute_name(:birthday) %></strong>
    </div>
    <%= @care_user.birthday.strftime("%Y年 %m月 %d日") %>
  </p>

  <!-- <p>
    <div class="hhh">
      <strong class="title"><%#= CareUser.human_attribute_name(:age) %></strong>
    </div>
    <%#= @care_user.age %>歳
  </p> -->

  <p>
    <div class="hhh">
      <strong class="title"><%= CareUser.human_attribute_name(:sex) %></strong>
    </div>
    <%= @care_user.sex %>
  </p>

  <p>
    <div class="hhh">
      <strong class="title"><%= CareUser.human_attribute_name(:food) %></strong>
    </div>
    <%= @care_user.food %>
  </p>

  <p>
    <div class="hhh">
      <strong class="title"><%= CareUser.human_attribute_name(:allergy) %></strong>
    </div>
    <%= @care_user.allergy %>
  </p>

  <p>
    <div class="hhh">
      <strong class="title"><%= CareUser.human_attribute_name(:sick) %></strong>
    </div>
    <%= @care_user.sick %>
  </p>

  <p>
    <div class="hhh">
      <strong class="title"><%= CareUser.human_attribute_name(:note) %></strong>
    </div>
    <%= @care_user.note %>
  </p>

  <% if current_user.owner_id != nil %>
    <p>
      <strong class="title"><%= CareUser.human_attribute_name(:availability) %></strong>
      <%= @care_user.availability %>
    </p>
    <p>
      <strong class="title"><%= CareUser.human_attribute_name(:division) %></strong>
      <%= @care_user.division %>
    </p>
  <% end %>

  <%= link_to "戻る",care_users_path %>
  <%= link_to "編集",edit_care_user_path(@care_user.id) %>
</div>